
[access]
	inheritFrom = Kernel-Projects
[project]
	description = Owner: android-kernel-team@google.com
[submit]
	action = rebase if necessary
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
